* {
    box-sizing: border-box;
    font-family: "lato", sans-serif;
    caret-color: transparent; 
}

body {
    margin: 0;
    overflow-x: hidden;
}

:root {
    --orange: #f05b17; 
}

/* Start of Nav Section */ 

nav {
    top: 0;
    position: sticky;
    z-index: 998;
    padding-top: 0.18rem;
    background-color: white;
    box-shadow: 1px 14px 40px 0px rgba(0,0,0,0.29);
    
}

.links-container {
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 2rem;

    letter-spacing: 1px;
    font-size: 1.1rem;
}

.links-container > a {
    text-decoration: none;
    color: #1e73be;
    transition: color 0.2s ease-in-out;
}

.links-container > a:hover {
    color: var(--orange);
    border-bottom: 3px solid var(--orange);
}

.logo-box{
    margin-right: auto;
}

.logo-box:hover {
    opacity: 0.8;
}

#logo-box {
    max-height: 35px;
}

/* End of Navbar Section */ 

/* Start of Sidebar Section */

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}


/* End of Sidebar Section */

/* Banner Section */

.banner-wrapper {
    min-height: 60vh;
    background-image: url(images/HomePageBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: var(--orange) 7px solid;
    
}

.banner-wrapper span[class="banner-text container"] {
    position: absolute; 
    top: 20%; 
    left: 10%;
    width: 35%;
    background-color: transparent;
    color: #f1f1f1; 
    font-size: 30px; 
    text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    font-weight: bold;

}

.banner-wrapper span[class="banner-text banner-small container"] {
    position: absolute; 
    top: 30%; 
    left: 10%; 
    width: 40%;
    background-color: transparent;
    color: #f1f1f1; 
    font-size: 25px; 
    text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    font-weight: bold;

}

/* End of Banner Section */

/* Start of About Us (About 1) */

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

.about-title {
    align-items: center;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: var(--orange);
    margin-bottom: 12rem;
    position: relative;
    padding-bottom: 3rem;
    width: 100vw;
}

.about-title::before{
    content: "";
    height: 2px;
    width: 50vw;
    background-color: var(--orange);
    position: absolute;
    display: block;
    top: 20%;
    right: 0;
    z-index: -3;
}

.about-title::after{
    content: "";
    height: 2px;
    width: 50vw;
    background-color: var(--orange);
    position: absolute;
    display: block;
    top: 20%;
    left: 0;
    z-index: -2;
}

.about-title > span {
    background: white;
    padding: 0 20px 0 20px;
}

.about-textbox {
    display: flex;
    justify-content: center;
    width: 60vw;
    position: absolute;
    margin-bottom: 1rem;
}

.about-descrip {
    color: #777;
    font-size: 18px;
    line-height: 35px;
    
}

.about-button {
    position: absolute;
    margin-top: 15rem;
    color: var(--orange);
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    border: var(--orange) 2px solid;
    border-radius: 75px;
    cursor: pointer;
}

.about-button:hover{
    color: white;
    background-color: var(--orange);
    transition: color 0.2s ease-in-out;
}

/* End of About Section */

/* Start of Banner 2 */

.banner-section2{
    background-image: url("/images/banner-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* End of Banner 2 */

/* Start of Our Team (About 2) */

.about-button2 {
    position: absolute;
    margin-top: 10rem;
    color: var(--orange);
    background-color: transparent;
    width: 8rem;
    height: 2rem;
    border: var(--orange) 2px solid;
    border-radius: 75px;
    cursor: pointer;
}

.about-button2:hover {
    color: white;
    background-color: var(--orange);
    transition: color 0.2s ease-in-out;
}

/* End of About 2 */

/* Start of Carousel */

#carousel-body {
    padding-right: 4rem;
    padding-left: 4rem;
}

.carousel {
    height: 560px;
    position: relative; 
    width: 100%;
    padding: 0;
}

.slider-wrapper {
    transform-style: preserve-3d; 
    transform-origin: 0 50%;
    perspective: 800px !important;
}

ul {
    list-style-type: none;
}

.card {
    height: 290px;
    width: 290px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.card > * {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card.active > * {
    opacity: 1;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20rem;
    white-space: nowrap; 
}

span {
    font-size: 20px;
    font-weight: 50;
    white-space: nowrap;
}

/* End of Carousel */

/* Start of heros */ 

.hero1 {
    background-image: url(images/team/carol.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero2 {
    background-image: url(images/team/vita.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero3 {
    background-image: url(images/team/michelle.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero4 {
    background-image: url(images/team/ita.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero5 {
    background-image: url(images/team/moses.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero6 {
    background-image: url(images/team/francis.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero7 {
    background-image: url(images/team/alex.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero8 {
    background-image: url(images/team/aimee.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero9 {
    background-image: url(images/team/jason.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero10 {
    background-image: url(images/team/michael.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero11 {
    background-image: url(images/team/eddie.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

.hero12 {
    background-image: url(images/team/sharon.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 50%
    !important;
}

/* End of heros */ 

/* Start of News */ 

#news {
    background-color: #f7f7f7;
    z-index: -5;
    margin-top: 10rem;
    padding-top: 10rem;
    height: 90vh;
}

#news .about-section {
    height: 0;
    margin-top: 2rem;
}

#news .about-title {
    z-index: 1;
}

#news .about-title::before {
    z-index: -1; 
}

#news .about-title::after {
    z-index: -2; 
}

.grayed {
    background-color: #f7f7f7 !important;
}

/* Start of SwiperJS in News */

.swiper { /* Carousel Body */
    width: 80%;
    height: 300px;
    top: 0;
}

.swiper-slide { /* Cards */
    text-align: center;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem 0 4rem;
    user-select: none;
}

.swiper-slide img { /* Img in Carousel */
    background-color: #f7f7f7;
    display: block;
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.headline {
    display: inline-block;
    text-align: left;
    background-color: #f7f7f7;
    font-size: 18px;
    text-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    border-top: 2px var(--orange) solid;
}

.date {
    display: inline-block;
    padding-bottom: 0.5rem;
    font-size: 18px;
}

.swiper-button-next {
    opacity: 0.5;
    color: var(--orange);
    transition: 0.2s ease-in-out;
}

.swiper-button-next:hover {
    opacity: 1;
}

.swiper-button-prev {
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}

.swiper-button-prev:hover {
    opacity: 1;
}

/* End of SwiperJS in News*/

/* End of News */ 

/* Start of Portfolio */

#portfolio .about-section {
    height: 0;
    background-color: transparent
}

#portfolio .about-title {
    margin-bottom: 0;
    padding-bottom: 3rem;
}


#portfolio { 
    margin-top: 8rem;
    height: 50vh;
}

.portfolioSwiper .swiper-slide {
    background-color: transparent;
    user-select: none;
    height: 300px;
}

.portfolioSwiper img {
    background-color: transparent;
    object-fit: contain;
    width: 100%;
    height: 90%;
}

.portfolioSwiper .swiper-button-next {
    top: 50%;
}

.portfolioSwiper .swiper-button-prev {
    top: 50%;
}

/* End of Portfolio */

/* Start of Footer */

#footer {
    background-color: #007cba;;
}

.footer-content {
    height: 70vh;
}

/* Start of Location Grid */

.location-wrapper {
    display: grid;
    grid-template-areas: 
    "A B C "
    "D E .";
    column-gap: 30px;
    padding: 3rem 10rem 0 5rem;
}

.loc1 {
    grid-area: A;
}

.loc2 {
    grid-area: B;
}

.loc3 {
    grid-area: C;
}

.loc4 {
    grid-area: D;
}

.loc5 {
    grid-area: E;
}

/* End of Location Grid */

/* Start of Location + Location Text */
.location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.location-title {
    font-size: 22px;
}

.location > li { /* Making sure the all the ul got 0.5 margin bottom + white font color */
    margin-bottom: 0.5rem;
    color: white;
}

.number { 
    display: flex;
}

.address {
    display: flex;
}

.location-info { /* The text wrapper for numbers and addresses (so it doesn't conflict with icons) */
    font-size: 0.9rem;
    text-wrap: wrap;
    line-height: 20px;
}

.fa-solid {
    padding-right: 1rem;
}

.fa-location-dot{
    font-size: 20px;
}

.fa-phone {
    font-size: 17px;
}

/* End of Location + Location Text */

/* Start of Footer line */

.footer-line {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 900;
    color: white;
    position: relative;
    padding-bottom: 3rem;
}

.footer-line::before{
    content: "";
    height: 2px;
    width: 70vw;
    background-color: white;
    position: absolute;
    display: block;
    top: 50%;
}

/* End of Footer line */

/* Start of Copyright Disclaimer */

.copyright-disclaimer {
    padding-top: 1rem;
    text-align: center;
    color: white;
}

/* End of Copyright Disclaimer */

/* End of Footer */


/* Start of Media Query Section */

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px red solid; */
}
  
/* 2xl MQ1 */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
}
  
/* xl  MQ2 */
@media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

    .banner-wrapper span[class="banner-text container"] {
        width: 40%; 
        font-size: 27px;
    }
    
    .banner-wrapper span[class="banner-text banner-small container"] {
        width: 45%;
        font-size: 22px;
    }
    
    .footer-content {
        height: 90vh;
    }

    .location-wrapper {
        grid-template-areas: 
        "A B"
        "C D"
        "E .";
        padding: 3rem 5rem 0 8rem;
    }
}
  
/* lg MQ3 */
@media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }

    .banner-wrapper {
        min-height: 40vh;
    }

    .banner-wrapper span[class="banner-text container"] {
        width: 45%; 
        font-size: 23px;
        top: 13%;
        left: 12%;
    }
    
    .banner-wrapper span[class="banner-text banner-small container"] {
        width: 50%;
        font-size: 18px;
        top: 18%;
        left: 12%;
    }

    .about-descrip {
        font-size: 15px;  
    }

    .location-wrapper {
        padding: 3rem 5rem 0 0rem;
    }

}
  
/* md MQ4 */
@media (max-width: 768px) {
    .container {
      max-width: 640px;
    }

    .links-container {
        font-size: 0.9rem;
    }

    .banner-wrapper span[class="banner-text container"] {
        width: 50%; 
        font-size: 21px;
    }
    
    .banner-wrapper span[class="banner-text banner-small container"] {
        width: 55%;
        font-size: 15px;
    }

    .about-title {
        font-size: 22px;
    }

    .about-descrip {
        font-size: 14px;  
    }

    .banner-section2 {
        height: 40vh;
    }

    .footer-content {
        height: 135vh;
    }

    .location-wrapper {
        grid-template-areas: 
        "A"
        "B"
        "C"
        "D"
        "E";
        padding: 3rem 5rem 0 8rem;
    }
}
  
/* sm MQ5 */
@media (max-width: 640px) { /* Sidebar Button from here on */ 
    .container {
      max-width: 475px;
    }

    .links-container {
        flex-direction: column;
        justify-content: start;
        align-items: start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 999;
        padding-left: 1rem;
        width: 70%;
        height: 100%;

        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 37%, rgba(141,206,213,1) 71%, rgba(45,214,253,1) 100%); 
        
        font-size: 1.1rem;
        gap: 3rem;

        transition: 0.75s ease-out;

    }

    .links-container > a {
        box-sizing: auto;
        width: 100%;
    }

    .links-container > a:hover {
        border-bottom: none;
    }

    .logo-box {
        display: none;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
    }

    .close-sidebar-button {
        padding-top: 2rem;
        width: 100%;
    }
    

    #sidebar-active:checked ~ .links-container {
        right: 0; 
    }

    #overlay {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 37%, rgba(141,206,213,1) 71%, rgba(45,214,253,1) 100%); 
        height: 100%;
        width: 30%;
        position: fixed;
        left: -50%;
        top: 0;
        transition: 0.8s ease-out;
        
    }

    #sidebar-active:checked ~ #overlay {
        left: 0;
    }

    .pre-sidebar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10rem;
    }

    .sidebar-logo:hover {
        opacity: 0.7;
    }

    .banner-wrapper span[class="banner-text container"] {
        width: 55%; 
        font-size: 18px;
        top: 13%;
    }
    
    .banner-wrapper span[class="banner-text banner-small container"] {
        width: 60%;
        font-size: 14px;
        top: 19%;
    }

    .about-descrip {
        font-size: 12px;  
    }

    .banner-section2 {
        height: 30vh;
    }

    h2 {
        font-size: 20px;
    }
    
    span {
        font-size: 15px;
    }

    .location-wrapper {
        padding: 3rem 5rem 0 3rem;
    }

}
  
/* xs MQ6 */
@media (max-width: 490px) {
    .container {
      width: 100%;
    }

    .pre-sidebar {
        gap: 5rem;
    }

    .banner-wrapper span[class="banner-text container"] {
        width: 60%; 
    }
    
    .banner-wrapper span[class="banner-text banner-small container"] {
        width: 65%;
    }

    .about-descrip {
        font-size: 12px;  
    }

    .about-textbox {
        width: 80%;
    }

    .headline {
        font-size: 12px;
    }

    .location-info { /* The text wrapper for numbers and addresses (so it doesn't conflict with icons) */
        font-size: 0.8rem;
    }

    .location-wrapper {
        padding: 3rem 5rem 0 0;
    }
    
}

/* End of Media Query Section */
